<ul style='position: absolute; bottom: 5px; right: 5px; font-size:90%' class="legend">
  <li>
    <span style='background-color: rgb(113, 115, 219)'></span>Democrat</li>
  <li>
    <span style='background-color: rgb(201, 58, 58)'></span>Republican</li>
  <li>
    <span style='background-color: rgb(50, 51, 51)'></span>Neutral</li>
</ul>
