* {
  font-family: 'Open Sans', sans-serif !important;
}
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
@-webkit-keyframes bounceIn {
   0% {
     opacity: 0;
     -webkit-transform: scale(.3);
   }
   50% {
     opacity: 1;
     -webkit-transform: scale(1.05);
   }
   70% {
     -webkit-transform: scale(.9);
   }
   100% {
     -webkit-transform: scale(1);
   }
 }
 @keyframes bounceIn {
   0% {
     opacity: 0;
     transform: scale(.3);
   }
   50% {
     opacity: 1;
     transform: scale(1.05);
   }
   70% {
     transform: scale(.9);
   }
   100% {
     transform: scale(1);
   }
 }
 .d3-tip.animate {
   animation: bounceIn 0.2s ease-out;
   -webkit-animation: bounceIn 0.2s ease-out;
 }

.states {
  transition: fill .5s ease;
  opacity: 0.8;
  &:hover {
    opacity: 0.6;
  }
}
div.twitter-tweet-rendered p.entry-title {
    font-size: 12px !important;
    padding: 5px !important;
    background: #eee !important;
    max-width: 300px !important;
}

div.twitter-tweet-rendered p.entry-title a.link {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

div.twitter-tweet-rendered div.twt-border {
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

div.twitter-tweet-rendered iframe.twt-follow-button { display: none !important; }

div.twitter-tweet-rendered div.footer ul.twt-actions {display: none !important;}

div.twitter-tweet-rendered div.footer a.view-details {
    display:block !important;
    width: 120px !important;
    margin: 5px 0 !important;
    padding: 7px 0 !important;
    background: #000 !important;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: 13px !important;
    text-align: center !important;
    box-shadow: -1px -1px 2px #555 !important;
}

div.twitter-tweet-rendered div.footer a.view-details span {
    font: 14px Georgia, serif !important;
    color: #fff !important;
}


.d3-tip, .legend{
  transition: display 2s ease;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 8px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
