<div style='padding:2px' class='content-height'>
  <div class='content-main'>
    <h2 id="title">Twitter Votes for 2016 US Candidates</h2>
    {{democracy-topology}}
    {{democracy-legend}}
  </div>
  <div class='content-list content-height'>
    {{democracy-list}}
  </div>
  <div class="github-fork-ribbon-wrapper left-bottom">
    <div class="github-fork-ribbon">
      <a href="https://github.com/srowhani/democracy">Fork me on GitHub</a>
    </div>
  </div>
</div>
