<h2 id="title">Twitter Votes for 2016 US Candidates</h2>
{{d3-topology}}
{{#if id}}
  {{component "twitter-block" id=id author=screen_name}}
{{/if}}
<ul style='position: absolute; top: 5px; right: 5px; font-size:90%' class="legend">
  <li>
    <span style='background-color: rgb(113, 115, 219)'></span>Democrat</li>
  <li>
    <span style='background-color: rgb(201, 58, 58)'></span>Republican</li>
  <li>
    <span style='background-color: rgb(50, 51, 51)'></span>Neutral</li>
</ul>
<div class="github-fork-ribbon-wrapper left-bottom">
  <div class="github-fork-ribbon">
    <a href="https://github.com/srowhani/democracy">Fork me on GitHub</a>
  </div>
</div>
